<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Detalle Pedido</title>
<link rel="icon" type="image/png" sizes="32x32"
	href="/imagenes/favicon-32x32.png" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/detallePedido.js}"></script>



</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<form th:action="@{/detallePedido/registrar}" method="post"
			th:object="${detallePedido}">
			<div class="form-group">
				<label for="iddetallepedido">ID:</label> <input type="text"
					class="form-control" th:field="*{idDetallePedido}"></input>
			
				<label for="dueno" class=" col-sm-2 col-form-label">CUARTO:</label> <select
					class="form-control" th:field="*{room.idRoom}">
					<option th:each="d: ${listaRooms}" th:value="${d.idRoom}"
						th:text="${d.nameRoom}"
						th:selected="(${d.idRoom} == *{room.idRoom})"></option>
				</select>
				<label for="detallePedido" class=" col-sm-2 col-form-label">Reservacion:</label> <select
					class="form-control" th:field="*{reservation.idReservation}">
					<option th:each="d: ${listaReservations }" th:value="${d.idReservation}"
						th:text="${d.idReservation}"
						th:selected="(${d.idReservation} == *{reservation.idReservation})"></option>
				</select>
				<div class="form-group">
					<label for="cantidad">DIAS:</label> <input type="text"
						th:field="*{cantidad}" class="form-control" id="cantidad"></input>
					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"></div>
				</div>

			</div>
			<button type="submit" class="btn btn-primary">Aceptar</button>
			<a href="/detallePedido/listar" class="btn btn-danger">Cancelar</a>

		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
