<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<a th:href="@{/reservation/irRegistrar}" id="add-row" type="button"
						class="btn btn-primary btn-md left-block"> <span
						class="glyphicon glyphicon-plus"></span> Agregar Reserva
					</a> <a th:href="@{/reservation/irBuscar}" id="add-row" type="button"
						class="btn btn-primary btn-md left-block"> <span
						class="glyphicon glyphicon-search"></span>
					</a>

					<table class="table table-bordered table-hover table-striped"
						id="tab_logic">
						<thead>
							<tr>
								<th class="text-center">NUMERO</th>
							<th class="text-center">CODIGO</th>
								<th class="text-center">FECHA DE RESERVA</th>
								<th class="text-center">CUARTO</th>
								<th class="text-center">PERSONA</th>

								<th class="text-center">OPERACIÓN</th>
								<th class="text-center">OPERACIÓN</th>
						<th class="text-center">OPERACIÓN</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="per: ${listaReservations}">
									<td th:text="${per.idReservation}"></td>
										<td th:text="${per.codigoReservacion}"></td>	
								<td
									th:text="${#dates.format(per.birthDateReservation,'dd/MM/yyyy')}"></td>
								
								<td th:text="${per.room.nameRoom}"></td>
								<td th:text="${per.persona.namePersona}"></td>
								<td><a th:href="@{/reservation/eliminar?id=}+${per.idReservation}">Eliminar</a></td>
								<td><a th:href="@{'/reservation/modificar/' + ${per.idReservation}}">Modificar</a></td>
							<td><a th:href="@{/reservation/detalles/} + ${per.idReservation}">Ver</a></td>

							</tr>
						</tbody>

					</table>

				</div>
			</div>
			<p th:text="${mensaje}"></p>
		</form>
	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
