<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Rooms</title>
<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column" >
					<a  style="border-bottom-color: green" th:href="@{/room/irRegistrar}" id="add-row" type="button"
						class="btn btn-primary btn-md left-block"> <span
						class="glyphicon glyphicon-plus" ></span> Room  
					</a>
					<a  style="border-bottom-color: green" th:href="@{/room/irBuscar}" id="add-row" type="button"
						class="btn btn-primary btn-md left-block"> <span
						class="glyphicon glyphicon-search" ></span> 
					</a>
					<table class="table table-bordered table-hover table-striped"
						id="tab_logic">
						<thead>
							<tr>
								<th class="text-center">CODIGO</th>
								<th class="text-center">HABITACION</th>
								<th class="text-center">CAMAS</th>
								<th class="text-center">AFORO</th>
								<th class="text-center">PRECIO(S/.)</th>
								
								<th class="text-center">OPERACIÓN</th>
								<th class="text-center">OPERACIÓN</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="rac: ${listaRooms}">
								<td th:text="${rac.idRoom}"></td>
								<td th:text="${rac.nameRoom}"></td>
								<td th:text="${rac.NumBeds}"></td>
								<td th:text="${rac.numGauging}"></td>
								<td th:text="${rac.numPrice}"></td>
								<td><a th:href="@{/room/eliminar?id=}+${rac.idRoom}">Eliminar</a></td>
								<td><a th:href="@{'/room/modificar/' + ${rac.idRoom}}">Modificar</a></td>
							</tr>
						</tbody>

					</table>
					
				</div>
			</div>
			<div th:if="${mensaje}" class="alert alert-danger">
			<p th:text="${mensaje}"></p>
			</div>
		</form>
	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
