<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/reservation.js}"></script>



</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	
	

	<form th:action="@{/reservation/registrar}" method="post" th:object="${reservation}" >
		
		<div class="form-group">
			<label for="idreservation">Numero de reserva:</label> <input type="text"
				class="form-control" th:field="*{idReservation}"></input>
		</div>
	<div class="form-group">
			<label for="codigoreservacion">CODIGO DE RESERVACION:</label> <input type="text"
				th:field="*{codigoReservacion}" class="form-control" id="codigoreservacion"></input>
			<div class="alert alert-danger"
				th:if="${#fields.hasErrors('codigoReservacion')}"
				th:errors="*{codigoReservacion}"></div>

		</div>
	

		<div class="form-group">
			<label for="fechaReserva">FECHA RESERVA:</label> <input type="date"
				th:field="*{birthDateReservation}" class="form-control" id="fechaReserva"></input>
			<div class="alert alert-danger"
				th:if="${#fields.hasErrors('birthDateReservation')}"
				th:errors="*{birthDateReservation}"></div>

		</div>

		<label for="room" class=" col-sm-2 col-form-label"> CUARTO:</label> <select
			class="form-control" th:field="*{room.idRoom}">
			<option th:each="rr: ${listaRooms}" th:value="${rr.idRoom}"
				th:text="${rr.nameRoom}"
				th:selected="(${rr.idRoom} == *{room.idRoom})"></option>
		</select> 
		
		
		<label for="persona" class=" col-sm-2 col-form-label">
			Persona:</label> <select class="form-control" th:field="*{persona.idPersona}">
			<option th:each="re: ${listaPersonas}" th:value="${re.idPersona}"
				th:text="${re.namePersona}"
				th:selected="(${re.idPersona} == *{persona.idPersona})"></option>
		</select>



		<button type="submit" class="btn btn-primary">AceptarReserva</button>
		<a href="/reservation/listar" class="btn btn-danger">Cancelar</a>

	</form>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
